<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>287727538614-rfomfuj42kqt75m50ve2l55fs22jkcf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.287727538614-rfomfuj42kqt75m50ve2l55fs22jkcf6</string>
	<key>API_KEY</key>
	<string>AIzaSyDJuBLguPpwBP6Nn4K718FWki7sMlAmscs</string>
	<key>GCM_SENDER_ID</key>
	<string>287727538614</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.worldchat.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>worldchat-fc10f</string>
	<key>STORAGE_BUCKET</key>
	<string>worldchat-fc10f.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:287727538614:ios:a09f09086b7e5ed1963117</string>
</dict>
</plist>